DIRECTUS_AI_XAI_API_KEY=
BENEFITS_DATABASE_URL=postgres://postgres:monospace@localhost:5434/benefits
DIRECTUS_URL=http://localhost:8055
DIRECTUS_USER=admin@benefitsgo.tech
DIRECTUS_PASSWORD=Empyrean1
DIRECTUS_PROVISIONS_PATH=./provisions

