@import "tailwindcss";

@theme {
  --font-sans: "Fira Sans", ui-sans-serif, system-ui, sans-serif;
  --font-heading: "Montserrat", ui-sans-serif, system-ui, sans-serif;
  --color-login-heading: oklch(0.3753 0 0);
  --color-login-button: oklch(0.4386 0 0);
  --color-login-button-hover: oklch(0.2972 0 0);
  --color-login-border: oklch(0.5452 0 0);
  --color-login-focus: oklch(0.4929 0.118 242.49);
  --color-login-accent: oklch(0.547 0.132 243.08);
  --color-login-muted: oklch(0.5621 0.014 17.57);
}
